$white: #FFFFFF;
$black: #000000;
$bg: #F9F8F3;
$on-bg: #5F5D75;
$on-bg-low: #737380;
$bg-footer: #1E1B3A;
$bg-footer-low: #2A264F;
$bg-footer-lowest: #3C376E;
$on-bg-footer: #B9B5C9;
$surface: #FFF9E5;
$surface-low: #FFFCF5;
$primary: #FFD02B;
$primary-low: #FDE047;
$primary-high: #E5BB00;
$on-primary: #242145;
$secondary: #F0EEFF;
$tertiary: #3A2EBF;
$like: #FF4B4B;
$error: #B3261E;
$price-free: #0B8A8F;
$transparent: transparent;

$content-width: 1680px;

$size-05: 4px;
$size-1: 8px;
$size-2: 16px;
$size-3: 24px;
$size-4: 32px;
$size-5: 40px;
$size-6: 48px;
$size-7: 56px;
$size-8: 64px;
$size-9: 72px;
$size-10: 80px;
$size-11: 88px;
$size-12: 96px;
$size-13: 104px;
$size-14: 112px;
$size-15: 120px;

$label-small: 10px;
$label-medium: 12px;
$label-large: 14px;
$label-extra-large: 16px;
$body-small: 14px;
$body-medium: 16px;
$body-large: 18px;
$headline-small: 20px;
$headline-medium: 24px;
$headline-large: 32px;
$display-small: 24px;
$display-medium: 36px;
$display-large: 56px;

$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;

$corner-extra-small: 4px;
$corner-small: 8px;
$corner-medium: 12px;
$corner-large: 16px;
$corner-extra-large: 24px;
$corner-full: 9999px;

$btn-icon: 8px;
$btn-small: 8px 16px;
$btn-medium: 10px 20px;
$btn-large: 16px 24px;

$level-1: 4px 4px $on-primary;
$level-2: 6px 6px $on-primary;
$level-3: 8px 8px $on-primary;

$border-primary: 2px solid $on-primary;
$transition: 0.3s ease;
